@-webkit-keyframes sleep-anim {
  0%   { opacity: 1;   }
  50%  { opacity: 0.6; }
  100% { opacity: 1;   }
}

body {
}

section {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

section h2 {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}
section .pure-g {
  max-width: 55rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.discussion {
  box-sizing: border-box;
}
.example-container {
  padding: 0.5rem;
  margin-top: 1rem;
}

.dot {
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #888;
}

.dot.red {
  background-color: #b0120a;
}

.dot.sleeping {
  -webkit-animation: sleep-anim 2s infinite;
  -webkit-animation-timing-function: ease;
}

.buffer {
  padding: 0.2rem;
  font-size: 150%;
}
.buffer.empty {
  color: #999;
  font-style: italic;
}

.buffer .dot {
  margin: 0 0.1rem;
}

.dots-enter {
  -webkit-transition: opacity 0.25s ease,
    -webkit-transform 0.25s ease;
  -webkit-transform: scale(0);
  opacity: 0;
}
.dots-enter.dots-enter-active {
  -webkit-transform: scale(1);
  opacity: 1;
}

.dots-leave {
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: none !important;
}

.dots-leave.dots-leave-active {
  -webkit-transform: scale(0);
  opacity: 0;
}
